@charset "utf-8";
header, nav, section, footer {
	margin:auto;
	
	
}

header {
	background:#D9A404;	
	line-height: 70px;
	text-align: center;
	font-size: 40px;
	
	
}

nav {
	background:#F2C438;
	height: 100%;
	line-height: 40px;
}

section {
	background:#BF7E04;
	min-height: 700px;
	height:100%;
}

footer {
	background:#8C5C03;
	height: 50px;
	line-height: 50px;
	text-align: center;
	
}

#sectionDiv1 {
	text-align: center;
}

#sectionDiv2 {
	line-height: 25px;
}
